@model UserChangePasswordModel

<form asp-action="@nameof(AccountController.ChangePassword)" class="form">
    <div asp-validation-summary="All" />
    <div>
        <label asp-for="OldPassword"></label>
        <div>
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
        <input asp-for="OldPassword"  class="box" placeholder="Текущий пароль"/>
    </div>
    <div>
        <label asp-for="NewPassword"></label>
        <div>
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <input asp-for="NewPassword" class="box" placeholder="Новый пароль"/>
    </div>
    <div>
        <label asp-for="ConfirmNewPassword"></label>
        <div>
            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
        </div>
        <input asp-for="ConfirmNewPassword" class="box" placeholder="Подтвердите новый пароль"/>
    </div>
    <input id="usermail" type="hidden" asp-for="Email" readonly/>
    <button class="btn mb-3" type="submit">Изменить пароль</button>
</form>