@model UserEmailModel
@{
}
<form asp-action="@nameof(AccountController.ResendEmail)">
    <label id="email">Введите вашу почту: </label>
    <div>
        <input asp-for="@Model.Email" id="email" type="email" placeholder="Электронная почта" class="box" />
    </div>
    <button class="btn" type="submit">Отправить письмо</button>
</form>