@model UserResetPasswordModel

<h1 class="heading">Создание нового пароля</h1>
<div class="lone-field-page">
    <form asp-action="@nameof(AccountController.ResetPassword)">
        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="NewPassword"></label>
            <div>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <input asp-for="NewPassword" class="box" placeholder="Новый пароль" />
        </div>
        <div>
            <label asp-for="ConfirmNewPassword"></label>
            <div>
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>
            <input asp-for="ConfirmNewPassword" class="box" placeholder="Подтвердите новый пароль" />
        </div>
        <input type="hidden" readonly asp-for="Id" />
        <input type="hidden" readonly asp-for="Token" />
        <button class="btn" type="submit">Сменить пароль</button>
    </form>
</div>